body{
  height: 100%;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

img.img-profile{
  /*width: 10%;*/

  height: 64px;
  width: 64px;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  display: inline-block;

}
a.span-profile{
  padding-right: 70px;
}

.button-collapse {
  color: #ee6e73;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
/*  position: fixed;
  bottom: 0;*/
}




 .parallax img 
 {
 	 background-repeat: no-repeat;
 	 background-size: cover;
 }
 .parallax-container
 {
 	color: black;
 }
 @media only screen and (max-width : 600px) {
  .parallax-container
 {
 	color: white;
 }
}
 nav a.button-collapse
 {
 	color:black;
 }
 .purple.lighten-1 {
  background-color: #CC0066 !important;
}
.teal-text.text-lighten-2 {
  color: #CC0066 !important;
}
.share-buttons{
	list-style: none;
}

.share-buttons li{
	display: inline;
}
nav
{
	overflow: visible;
}
nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}