extends ../../layout.jade
block content
	.container.margin-big-top.center-align
		.row
			h1 Password
			h6.grey-text Change your password
			form.col.s12(action="/users",method="POST")
				.row
					.input-field.col.s12
						input.validate(type="password" name="current_password" placeholder="Current password")
				.row
					.input-field.col.s6
						input.validate(type="password" name="password" placeholder="New password")
					.input-field.col.s6
						input.validate(type="password" name="password_confirmation" placeholder="Verify password")
				input.btn.left(type="submit" value="Save changes")