extends ../../layout.jade
block content
	.container.margin-big-top.center-align
		.row
			h1 Registrar Usuario
			form.col.s12(action="/users",method="POST")
				.row
					.input-field.col.s6
						input.validate(type="text" name="email" placeholder="Email")
					.input-field.col.s6
						input.validate(type="text" name="username" placeholder="username")
				.row
					.input-field.col.s6
						input.validate(type="password" name="password" placeholder="Password")
					.input-field.col.s6
						input.validate(type="password" name="password_confirmation" placeholder="password confirmation")
				input.btn.left(type="submit" value="Registrarse")
				a.right(href="/login") ya tengo cuenta